<!-- <div class="container">
    <div class="row text-center">
        <h2 class="TitleMenu"> {{'Setting' | i18nForMenu:i18nService.currentLanguage}} </h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3 myDIV " [routerLink]="['/menu_parametrage/list_clinique']">
                <div class="container-block ">
                    <div class="block1">
                        <i class="fas fa-hospital" style="font-size: 20px; margin-top: 5px;"></i>

                    </div>
                    <div class="block2  ">
                        <span class="FloatRight ">  {{'Clinique' | i18nForMenu:i18nService.currentLanguage}}  </span>

                    </div>
                </div>
            </div> 
            <div id="item" class="col-sm-6 col-md-3 myDIV " [routerLink]="['/menu_parametrage/operation']">
                <div class="container-block ">
                    <div class="block1">
                        <i class="fas fa-procedures" style="font-size: 20px; margin-top: 5px;"></i>
                    </div>
                    <div class="block2  ">
                        <span class="FloatRight ">  {{'Operation' | i18nForMenu:i18nService.currentLanguage}}  </span>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div> -->

<div (click)="$event.preventDefault()">
    <tabset>
        <tab *ngFor="let tab of tabs" [heading]="tab.displayName" [removable]="tab.removable" (removed)="removeTabHandler(tab)" [active]="tab.active">
            <app-tab-content-param [component]="tab.component"></app-tab-content-param>
        </tab>
    </tabset>
</div>