<div class="container">
    <div class="row text-center">
        <h2 class="TitleMenu"> {{'Edition' | i18nForMenuEdition:i18nService.currentLanguage}} </h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3 myDIV " [routerLink]="['/menu_edition/reporting']">
                <div class="container-block ">
                    <div class="block1">
                        <i class="fa-solid fa-chart-column" style="font-size: 20px; margin-top: 5px;color: #337ab7;"></i>

                    </div>
                    <div class="block2  ">
                        <span class="FloatRight ">  {{'Edition' | i18nForMenuEdition:i18nService.currentLanguage}}  </span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>